# Ignore Gradle build output directory
/build/

# Ignore Gradle-specific files
/.gradle/

# Ignore log files
*.log

# Ignore local Gradle properties
/gradle.properties

# Ignore IntelliJ IDEA files
.idea/
*.iml

# Исключение конфигурационного файла
#src/main/resources/config.properties

# Ignore compiled Java files
*.jar
*.war
*.ear